body {
  font-family: Arial;
  padding: 20px;
  background: #f2f2f2;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #00a651;
  color: white;
  border: none;
  margin-bottom: 10px;
}

#products button {
  background: #ffd600;
  color: black;
}
