body{
    font-family: Arial;
    text-align:center;
    padding:20px;
    background:#f2f2f2;
}

.menu button{
    padding:8px 15px;
    margin:5px;
}

.section{
    display:none;
}

.section.active{
    display:block;
}

.card{
    margin:20px auto;
    width:260px;
    height:150px;
    background:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

button{
    padding:8px 12px;
    margin:5px;
}
