body{
font-family:Arial;
text-align:center;
background:#f2f2f2;
padding:20px;
}

video{
display:none;
}

canvas{
display:none;
}

img{
margin-top:20px;
width:200px;
}

.calc input{
padding:10px;
width:150px;
}
