body{
text-align:center;
font-family:Arial;
background:black;
color:white;
padding:30px;
}

button{
padding:15px 25px;
font-size:18px;
}

#freeze{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
}

.hidden{
display:none;
}
